По данным опроса, 75% работников ресторанов утверждают, что испытывают на работе существенный стресс, оказывающий негативное влияние на их личную жизнь. Крупная ресторанная сеть опрашивает 100 своих работников, чтобы выяснить, отличается ли уровень стресса работников в их ресторанах от среднего. 67 из 100 работников отметили высокий уровень стресса.

Посчитайте достигаемый уровень значимости, округлите ответ до четырёх знаков после десятичной точки.

In [1]:
import numpy as np
from scipy import stats
import pandas as pd

In [62]:
round(stats.binom_test(67, 100, 0.75), 4)

0.0822

Представим теперь, что в другой ресторанной сети только 22 из 50 работников испытывают существенный стресс. Гипотеза о том, что 22/50 соответствует 75% по всей популяции, методом, который вы использовали в предыдущей задаче, отвергается.

In [65]:
stats.binom_test(22, 50, 0.75)

3.4831478978300243e-06

The Wage Tract — заповедник в округе Тома, Джорджия, США, деревья в котором не затронуты деятельностью человека со времён первых поселенцев. Для участка заповедника размером 200х200 м имеется информация о координатах сосен (sn — координата в направлении север-юг, we — в направлении запад-восток, обе от 0 до 200).
Проверим, можно ли пространственное распределение сосен считать равномерным, или они растут кластерами.

Загрузите данные, поделите участок на 5х5 одинаковых квадратов размера 40x40 м, посчитайте количество сосен в каждом квадрате (чтобы получить такой же результат, как у нас, используйте функцию scipy.stats.binned_statistic_2d).

Если сосны действительно растут равномерно, какое среднее ожидаемое количество сосен в каждом квадрате? В правильном ответе два знака после десятичной точки.

In [4]:
data = pd.read_csv('pines.txt', header = 0, sep = '\t')
data.columns = ['sn', 'we']

In [5]:
data.head(20)

       sn    we
0   200.0   8.8
1   199.3  10.0
2   193.6  22.4
3   167.7  35.6
4   183.9  45.4
5   182.5  47.2
6   166.1  48.8
7   160.7  42.1
8   162.9  29.0
9   166.4  33.6
10  163.0  35.8
11  156.1  38.7
12  157.6  42.8
13  154.4  36.2
14  150.8  45.8
15  144.6  25.4
16  142.7  25.4
17  144.0  28.3
18  143.5  36.9
19  123.1  14.3

In [6]:
X = (data.sn.values)

In [7]:
type(X)

numpy.ndarray

In [8]:
X[0]

200.0

In [9]:
type(X[0])

numpy.float64

In [ ]:
float(X[0])

In [ ]:
X.astype(float)

In [10]:
Y = data.we.values

In [25]:
binx = [0.0, 40., 80., 120., 160., 200.]

In [26]:
biny = [0.0, 40., 80., 120., 160., 200.]

In [20]:
len(X)

584

In [21]:
len(Y)

584

In [33]:
ret = stats.binned_statistic_2d(X, Y, None, statistic  = 'count', bins=[binx,biny])

In [34]:
ret.statistic

array([[ 18.,  26.,  29.,  25.,  20.],
       [ 14.,  12.,  22.,  34.,  25.],
       [ 12.,  24.,  15.,  50.,  37.],
       [  8.,  19.,  31.,  50.,   7.],
       [  7.,   8.,  37.,  27.,  27.]])

In [37]:
l = 584./25.
l

23.36

In [53]:
len(data)

584

In [66]:
observed_frequences = np.concatenate((ret.statistic[0], ret.statistic[1], ret.statistic[2], ret.statistic[3], ret.statistic[4]), axis=0)
observed_frequences

array([ 18.,  26.,  29.,  25.,  20.,  14.,  12.,  22.,  34.,  25.,  12.,
        24.,  15.,  50.,  37.,   8.,  19.,  31.,  50.,   7.,   7.,   8.,
        37.,  27.,  27.])

In [59]:
Z = stats.chisquare(observed_frequences, ddof = 0)
Z

Power_divergenceResult(statistic=150.58904109589042, pvalue=2.5746697749672791e-20)

In [61]:
round(Z[0], 2)

150.59